/*Fonte ultilizada*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ margin: 0; box-sizing: border-box; }


html,body{ overflow-x: hidden;
    background: #212121; height: 100%; max-width: 1600px;}

.container{margin: 0; padding: 20px 5%;}

.clear{
    clear: both;
}

.line_vertical{

    width: 3px;
    background: red;
    height: 100%;
    max-height: 1800px;
    position: fixed;
    left: 50%;
    }
/*reset*/

.section_01{
    width: 100%;
    height: 700px;
}
section header.section_one_header nav ul{
    font-family: "Poppins", sans-serif;
    display: flex;
    list-style-type: none;
    padding: 5px 2%;
    margin-left: 250px;
}

header.section_one_header nav > ul > li > a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    font-size: 11px;
    font-weight: 200;
}


.text_section_one{
    margin-top: 90px;
    padding-left: 23%;
    font-family: "Poppins", sans-serif;
}

.text_section_one h1{
    color: aliceblue;
    line-height: 1.2;
    font-size: 55px;
    font-weight: 300;
}

.text_section_one h1 span{
    font-weight: 500;
}

.text_section_one p{
    max-width: 350px;
    padding-top: 12px;
    color: white;
    font-weight: 200; 
    font-size:16px;
}

.container_button {
    cursor: pointer;
    margin-top: 35px;
    border-radius: 5px;
    width: 320px;
    height:40px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}

.container_button:hover{
    transform: translateY(-20px);
    transition: all .6s;
}


.container_button h1{
    text-align: center;
    padding: 5px;
    font-size:20px;
    font-weight: 400;
    
}


.section_02{
    background: #f4f5f4;
    width: 100%;
    height: 606px;
}

.text_section_two{
    margin-top: 100px;
    padding-left: 23%;
    font-family: "Poppins", sans-serif;
}

.text_section_two h1{
    font-size: 40px;
    color: #4275a1;
}

.line{
    border-radius: 2px;
    width:30%;
    height: 3px;
    background: #4275a1;
}

.text_section_two h4{
    font-size: 18px;
    margin-top:16px;
    color: #3a3939;
}


.text_section_two p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 341.3px;
    padding-top: 23px;
    color: #3a3939;
}

.text_section_two .container_button {
    cursor: pointer;
    margin-top: 40px;
    border-radius: 5px;
    width: 320px;
    height:40px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}


.text_section_two .container_button h1{
    text-align: center;
    padding: 5px;
    font-size:20px;
    font-weight: 400;
    color: white;
}


.container_iamgem{
    float: right;
    position: relative;
    right: 256px;
    top: -310px;
}

.contorno{
    width: 260px;
    height: 360px;
    border: 2px solid rgba(86,149,204,1);
}

.img_dentro{
    position: relative;
    left: 40px;
    top: -330px;
    z-index: 999;
    height: 360px;
    width: 260;
    background: #212121;
}

.section_03{
    width: 100%;
    height: 1400px;
}



.titulo_center{
    text-align: center;
    margin-left: 25%;
    font-family: "Poppins", sans-serif;
}

.titulo_center h1{
    padding-top: 43px;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.line_titulo{
    width: 11%;
    height: 2px;
    margin-left:46%;
    background: #c5cdd4;
}

.container_box{
    padding-top: 26px;
    margin-top: 53px;
    position: relative;
    left: 25%;
    width: 700px;
    height: 400px;

}

.box_one{
    display: inline-flex;
    margin:  1%;
    width: 200px; 
    height: 80px;
    border: 1px solid #f4f5f4;
    border-radius: 5px;
    background: hsla(208, 66%, 45%, 0.753);
}

.box_one h1{
    padding: 23px 23%;
    align-items: center;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.span_box_one{
    display: inline-flex;
    margin:  1%;
    width: 160px; 
    height: 70px;
    border-radius: 5px;
    color: #212121;
}


.container_button_section03{
    cursor: pointer;
    margin-left: 25%;
    margin-top: 80px;
    border-radius: 5px;
    width: 320px;
    height:40px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}

.container_button_section03:hover{
    transition: all .6s;
    transform: translateY(-20px);

}

.container_button_section03 h1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top:3px;
    font-weight: 400;
    color: white;
}
 

.sobre_a_clinica{
    padding-left: 23%;
}
.sobre_text h1{
    font-family: "Poppins", sans-serif;
    margin-top: 20%;
    font-size: 29px;
    font-weight: 400;
    color:#ffffff;
}


.sobre_text p{
    font-family: "Poppins", sans-serif;
    padding-top: 23px;
    font-size: 14px;
    font-weight: 400;
    max-width: 300px;
    text-align: justify;
    line-height: 23px;
    color: rgb(210, 203, 203);
}



.sobre_text h2{
    font-family: "Poppins", sans-serif;
    padding-top: 33px;
    font-size: 20px;
    font-weight:700;
    font-style: italic;
    color: white;
}


section.section_04{
    height:600px;
    width: 100%;
    background: white;
}

.titulo_center_04{
    font-family: "Poppins", sans-serif;
    padding-top: 43px;
    font-size: 13px;
    font-weight: 100;
    color: #295277;
    text-align: center;
}

.line_04{
    margin-top: 10px;
    width: 11%;
    height: 2px;
    margin-left:45%;
    background: #295277;
}


.resultado_img{
    display: inline-flex;
    margin-top: 56px;
    width: 800px;
    margin-left: 20%;
    height: 500px;
  
}
.container_resultado_01{
    display: inline-flex;
    margin:  1%;
    width: 350px; 
    height: 60%;
    border: 3px  solid rgba(86,149,204,1);
    border-radius: 5px;
    background: hsla(209, 11%, 41%, 0.753);
}

.container_resultado_02{
    display: inline-flex;
    margin:  1%;
    width: 350px; 
    height: 60%;
    border: 3px solid  rgba(86,149,204,1);
    border-radius: 5px;
    background: hsla(207, 5%, 36%, 0.753);
}


.container_button_section04{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    left: 38%;
    top: -150px;
    width: 320px;
    height:40px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}

.container_button_section04 h1{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.section05{
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}

.titulo_center_05{
    font-family: "Poppins", sans-serif;
    padding-top: 43px;
    font-size: 13px;
    font-weight:400;
    color: #efeded;
    text-align: center;
}


.line_05{
    margin-top: 10px;
    width: 11%;
    height: 2px;
    margin-left:45%;
    background:#efeded;;
}


.container_feedback{
    display: inline-flex;
    margin-top: 56px;
    width: 800px;
    margin-left: 17%;
    height: 500px;
  
}
.container_feedback_01{
    display: flex;
    margin:  1%;
    width: 350px; 
    height: 40%;
    border: 3px solid hsl(208, 62%, 29%);
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}

.container_feedback_02{
    display: inline-flex;
    margin:  1%;
    width: 350px; 
    height: 40%;
    border: 3px solid hsl(208, 62%, 29%);
    border-radius:10px;
    background: hsl(0, 0%, 100%);
}



.container_feedback_03{
    display: inline-flex;
    margin:  1%;
    width: 350px;     
    height: 40%;
    border: 3px solid hsl(208, 62%, 29%);
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}


.container_feedback{
    display: inline-flex;
    margin-top: 56px;
    width: 800px;
    margin-left: 17%;
    height: 500px;
 }


section.section06{
    width: 100%;
    height: 350px;
    background: white;
}

.text_section_06{
    padding: 100px 20%;
    font-family: "Poppins", sans-serif;
}


.text_section_06 h1{
    font-weight: 400;
    font-size: 35px;
    color: #3a3939;

}

.text_section_06 h1 span{
    font-weight: 600;
    font-size: 35px;
    color: #295277;
}

.container_button_section06{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 5px;
    margin-top: 23px;
    width:300px;
    height:40px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}


.container_button_section06 h1{
    color: white;
    padding: 5px;
    font-size: 18px;
}

.section07{
    height: 600px;
    background: #c5cdd4;
}
.titulo_center_07{
    font-family: "Poppins", sans-serif;
    padding-top: 43px;
    font-size: 13px;
    font-weight:400;
    color: #345470;
    text-align: center;
}

.line_07{
    margin-top: 10px;
    width: 11%;
    height: 2px;
    margin-left:45%;
    background: #345470;
}


.map{
    margin-top: 5%;
    position: relative;
    left: 25%;
    width: 50%;
    height: 350px;
    background: #000000;
    box-shadow: rgba(100, 100, 111, 0.16) 0px 7px 29px 0px;
}

.footer_01{
    width: 100%;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}
.titulo_container h1{
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-left: 25%;
    
}



.container_button_section07{
    float: right;
    cursor: pointer;
    border-radius: 5px;
    position:relative;
    top: -50px;
    left: -25%;
    width: 250px;
    height:40px;
    background:linear-gradient(#5695cc,#4f7596 ); 
}

.container_button_section07 h1{
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 5px ;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

footer{
    width: 100%;
    height: 300px;
    background: #212121;
}

.titulo_center_foter{
    float: left;
    margin-top:5%;
    margin-left: 25%;
}

.titulo_center_foter h1{
    color: white;
    text-transform: uppercase;
    font-size:26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.titulo_center_foter  p{
    color: white;
    font-size: 13px;
    padding-top: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}


.cotainer_instagram{
    margin-top:5%;
    float: right;
    width: 250px;
    position:relative;
    left: -25%;
    border-radius: 5px;
    border: 2px solid #3778b0;
    height: 140px;
    background: #4f4b4b;
}

.cotainer_instagram p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    color: rgb(195, 195, 195);
    padding: 10px 5%;
    font-style: italic;
}



/*responsivo*/


@media screen and (max-width: 768px){
    .section_one_header{ display: none;}

    .container{margin: 0; padding: 10px }
   
   
   
.section_01{
        display: inline-flex;
    }
    
    .section_02{
        display: inline-flex ;
        background: #f4f5f4;
        width: 100%;
        height:1000px;
    }
        
    .container_iamgem{
        margin-top: 43px;
        position: relative;
        right: auto;
        top: 10px;
    }

    .sobre_a_clinica{
        padding-left: 15%;
        padding-top: 30%;
    }    

    

    .titulo_center{
        text-align: center;
        margin-left: 10%;
        font-family: "Poppins", sans-serif;
    }



    .container_box{
        position: relative;
        left:15%;
        width: 500px;
        height: 400px;
    }

    .container_button_section03{
        cursor: pointer;
        margin-left: 15%;
        margin-top: 80px;
        border-radius: 5px;
        width: 320px;
        height:40px;
        background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
    }
    
    .sobre_text p{
        font-family: "Poppins", sans-serif;
        padding-top: 33px;
        font-size: 16px;
        font-weight: 400;
        max-width: 420px;
     
    }
    

    
.resultado_img{
    display: inline-flex;
    margin-top: 56px;
    width: 800px;
    margin-left: 25%;
    height: 500px;
  
}
.container_resultado_01{
    display: inline-flex;
    margin:  1%;
    width: 290px; 
    height: 60%;
    border: 3px  solid rgba(86,149,204,1);
    border-radius: 5px;
    background: hsla(209, 11%, 41%, 0.753);
}

.container_resultado_02{
   display: none;
}


.container_button_section04{
    position: relative;
    left: 25%;
    top: -150px;
    width: 320px;
    height:40px;
}

    

  
.section05{
    width: 100%;
    height:900px;
    background: linear-gradient(90deg, rgba(86,149,204,1) 0%, rgba(31,57,81,1) 99%);
}



.container_feedback{
    display: block;
    margin-top: 56px;
    width: 800px;
    margin-left: 17%;
    height: 500px;
  
}
.container_feedback_01{
    display: block;
    margin:  1%;
    width: 350px; 
    height: 40%;
    border: 3px solid hsl(208, 62%, 29%);
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}

.container_feedback_02{
    display: block;
    margin:  1%;
    width: 350px; 
    height: 40%;
    border: 3px solid hsl(208, 62%, 29%);
    border-radius:10px;
    background: hsl(0, 0%, 100%);
}



.container_feedback_03{
    display: block;
    margin:  1%;
    width: 350px;     
    height: 40%;
    border: 3px solid hsl(208, 62%, 29%);
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}




}
